/* You can add global styles to this file, and also import other style files */
.fill {
    width: 100%;
    height: 100%;
}

.big {
    font-size: 10vw;
}

.matrix {
    font-family: 'LCD_Solid';
    color: #00FF00;
    background-color: #111111;
    border: none;
    outline: none;    
}

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}
  
body {
    background-color: #111111;
}

@font-face {
    font-family: 'LCD_Solid';
    src: url('assets/LCD_Solid.ttf')  format('truetype');
    font-weight: bold;
}
